<div class="vertical bg-primary">
    <div class="secao">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <div class="imagem">
                        <img src="../../assets/motivacional.jpg">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <h2 class="cabecalho">
                        SAIBA MAIS SOBRE NÓS
                    </h2>
                    <div class="linha-efeito"></div>
                    <p class="texto">
                        Somos um clube recreativo localizado próximo à praia de Guarabuta, litoral
                        de São Paulo. Proporcionamos um ambiente único para você que procura relaxar
                        sozinho ou com a família. Nossa estrutura simples torna a estadia confortável
                        e nosso entretenimento diversificado busca revitalizar corpo e mente. Venha 
                        nos conhecer e aproveitar o máximo da sua energia!
                    </p>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <div class="caixa">
                                <i class="icone-p bi-people mb-3"></i>
                                <h4>TOTAL DE CLIENTES</h4>
                                <p class="mb-0">40</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <div class="caixa">
                                <i class="icone-u bi-person-circle mb-3"></i>
                                <h4>ATIVIDADES RECREATIVAS</h4>
                                <p class="mb-0">+20</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <div class="caixa">
                                <i class="icone-t bi-alarm mb-3"></i>
                                <h4>ANOS DE TRABALHO</h4>
                                <p class="mb-0">18</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
