#principal
{
    background-color: orange;
    height: 150px;
    border-bottom: 2px solid blue;
}

#logo
{
    float: left;
    padding: 16px;
    width: 30%;
}

#logo img
{
    margin-left: 50px;
}

#redes-sociais
{
    position: relative;
    width: 25%;
    float: right;
}

#redes-sociais ul li 
{
    width: 25px;
    height: 30px;
    margin-left: 25px;
    display: inline-block;
    list-style: none;
}

#menu
{
    padding-top: 70px;
}

#menu ul li
{
    display: inline-block;
    margin-left: 25px;
    height: 40px;
}

#menu ul li a
{
    color: blue;
    text-decoration: none;
    font-size: 14px;
}

#menu ul li:hover
{
    border-bottom: blue solid 1px;
}