<header id="principal">
  <div id="logo">
    <img src="../assets/logo.png">
  </div>
  <div id="redes-sociais">
    <ul>
      <li>
        <a href="https://pt-br.facebook.com/">
          <i class="bi-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://br.linkedin.com/">
          <i class="bi-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/">
          <i class="bi-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/">
          <i class="bi-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <div id="menu">
    <ul>
        <li>
            <a href="">
              INÍCIO
            </a>
        </li>
        <li>
            <a href="">
              SOBRE NÓS
            </a>
        </li>
        <li>
            <a href="">
              SERVIÇOS
            </a>
        </li>
        <li>
            <a href="">
              SEJA ASSOCIADO
            </a>
        </li>
        <li>
            <a href="">
              CONTATO
            </a>
        </li>
    </ul>
</div>
</header>
<main>
  <app-home></app-home>
  <app-about-us></app-about-us>
</main>
